.delivery {
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width:$tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
        border-bottom: 1px solid #cacaca;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 200px;
        padding-bottom: 200px;

    }
}

.delivery__description {
    font-size: 14px;
    line-height: 1.11;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 1.08px;
    text-transform: uppercase;

    color: var(--accent-color);
    margin-bottom: 7px;

    @media screen and (min-width:$tablet) {
        font-size: 18px;


    }
}
.delivery__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.23;
    /* identical to box height, or 123% */
    max-width: 520px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    color: var(--title-text-color);

    @media screen and (min-width:$tablet) {
        font-size: 44px;

    }


}
.delivery__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.50;
    /* identical to box height, or 250% */

    text-align: center;
    margin-bottom: 50px;

    color: var(--primary-text-color);

    @media screen and (min-width:$tablet) {
        margin-bottom: 100px;
    }
}
.delivery__list {
    display: flex;
    flex-direction: column;
    margin: -20px;
justify-content: center;
    @media screen and (min-width:$tablet) {
        flex-direction: row;

    }

    @media screen and (min-width:$desktop) {
        margin: -40px;

    }
}

.delivery__item {

    

    @media screen and (min-width:$tablet) {
        width: calc((100%-20*3)/3);

    }

    @media screen and (min-width:$tablet) {
        width: calc((100%-40*3)/3);
        margin: 40px;
    }

}
.item-phone::before {
    content: "";
    display: block;
    margin: 0px auto 32px auto;
    width: 218px;
    height: 218px;
    background-image: url(../img/delivery/phone-bgrd-min.svg);

}

.item-buld::before {
    content: "";
    display: block;
    margin: 0px auto 32px auto;
    width: 218px;
    height: 218px;
    background-image: url(../img/delivery/buld-bgrd-min.svg);
}

.item-moto::before {
    content: "";
    display: block;
    margin: 0px auto 32px auto;
    width: 218px;
    height: 218px;
    background-image: url(../img/delivery/moto-bgrd-min.svg);
}


.delivery__subtitle {
    font-size: 22px;
    line-height: 1.43;
    /* or 143% */

    text-align: center;
    margin-bottom: 15px;

    color: var(--title-text-color);

    @media screen and (min-width:$tablet) {
        font-size: 28px;
    }
}

.delivery__subdescription {
    font-size: 14px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: var(--primary-text-color);

    @media screen and (min-width:$tablet) {
        font-size: 18px;
    }

}

.delivery-button__list {
    display: flex;
    align-items: center;
    justify-content: center;  margin-top: 30px;
    @media screen and (min-width:$tablet)  {
        margin-top: 60px;
        
    }
}

.delivery-button__item {
    &:not(:last-child) {
        margin-right: 27px;
    }
}