header{
    box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
}
.page-header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    
    justify-content: space-between;
   
}

.logo {
    width: 161px;
    height: 48px;
    &:hover,
        &:focus {
    
            transform: scale(1.08);
        }
}

.mobile-open {
    @media screen and (min-width:768px) {
        display: none;
    }
}
.mobile-close, .mobile-open{
    background-color: transparent;
    fill: var(--accent-color);
}


.nav { display: flex;
    @media screen and (max-width:$tablet) {
            display: none;
        }
}

.nav__list {
    display: flex;
    margin-right: 32px;
}

.nav__item {
     
    &:not(:last-child){
        margin-right: 26px;}
    &:hover,
        &:focus {
            
            transform: scale(1.08);
        }}


.nav__link {
    padding: 10px;
    font-size: 16px;
        line-height: 1.12;
    
        color: var(--title-text-color);
        transition:  color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover,
            &:focus{
                color: var(--accent-color);
            }
       
       
       
}

.authorization {
    display: flex;
    @media screen and (max-width:$desktop) {
        display: none;
        
    }
}

.authorization__items {
    &:not(:last-child){
        margin-right: 32px;
    }
    
}



.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    
    transform: translateX(100%);
    padding: 80px 40px 40px 40px;
    transition: transform 250ms ease-in-out;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.8),
                rgba(47, 48, 58, 0.8)),
            url(../img/mobile-menu/bg-mobile-menu.jpg);
            background-size:auto;
                background-position: center;
                background-repeat: no-repeat;
    @media screen and (min-width:768px) {
            display: none;
        }
}

.mobile-menu.is-open  {
    transform: translateX(0);
}

.mobile-close {
    position: absolute;
    top: 15px;
    right: 15px;
}



.mobile-nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-nav__item {
    &:not(:last-child){
        margin-bottom: 35px;
    }
}

.mobile-nav__link {
    font-size: 24px;
        line-height: 1.12;
        color: var(--accent-color-text);
        transition: color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
    &:hover,&:focus{
        color: var(--accent-color);
    }}

